#body {
    background-color: #1e2129;
    overflow-y: scroll;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../../font/Quicksand-VariableFont_wght.ttf');
}

.slider {
    position: relative;
}

.all {
    margin: 0px 0px 0px 0px;
    font-family: 'Quicksand';
    position: absolute;
    top: 250px;
    left: 220px;
    max-width: 70%;
    color: white;
}

.title-name {
    font-size: 70px;
    font-weight: 900;
}

.top {
    margin: 0px 0px 10px 0px;
}

.title-top {
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 1px;
}

.content-top {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
}

.center {}

.title-center {
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 1px;
}

.content-center {
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 20px 0px 0px 0px;
}

.bottom {
    display: flex;
    margin: 20px 0px 0px 0px;
}

.watch {
    border-radius: 5px;
    border: 1px solid #e41a1a;
    background-color: #e41a1a;
    padding: 13px 33px 13px 33px;
    margin: 0px 30px 0px 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 900;
    font-size: 15px;
}

.watch:hover {
    background-color: #c42f2f;
    transition: 0.3s;
}

.add-watch {
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    align-self: center;
    padding: 13px 33px 13px 33px;
    cursor: pointer;
    font-weight: 900;
    font-size: 15px;
}

.add-watch:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}

.image {
    width: 100%;
    filter: brightness(40%);
    image-rendering: pixelated;
}

/*2*/
.prev {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 370px;
    left: 50px;
}

.bi-caret-left-fill {
    font-size: 40px;
    color: #212529;
    opacity: 0.7;
}

.next {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 370px;
    right: 50px;
}

.bi-caret-right-fill {
    font-size: 40px;
    color: #212529;
    opacity: 0.7;
}

.radio-all {
    letter-spacing: 5px;
    cursor: pointer;
    position: absolute;
    left: 700px;
    top: 800px;
}

.bi-circle-fill {
    opacity: 0.7;
}

.radio:hover {
    color: #007aff;
    transition: 0.3s;
}

/*3*/
.wrapper-title {
    display: flex;
    justify-content: space-between;
    font-family: 'Quicksand';
    align-items: center;
    position: absolute;
    top: 20px;
    left: 15%;
    right: 15%;
    width: 70%;
}

.logo-film {
    display: flex;
    cursor: pointer;
}

.red {
    color: #c42f2f;
    font-size: 25px;
    font-weight: 900;
}

.white {
    color: white;
    font-size: 24px;
    font-weight: 900;
    margin: 0px 0px 0px 4px;
}

.wrapper-title-content {
    font-size: 16px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.wrapper-title-content:hover {
    color: #c42f2f;
}

.color-1 {
    color: #c42f2f;
}

.search-bar {}

.search {
    border-radius: 10px;
    background-color: none;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 10px 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    color: white;
}

.login {
    font-size: 16px;
    font-weight: 900;
    background-color: #e41a1a;
    padding: 11px 33px 11px 33px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}

.login:hover {
    background-color: #c42f2f;
}

/*4*/
.wrapper-center {
    display: flex;
    padding: 80px 220px 50px 220px;
}

.wrapper-center-left {
    color: white;
    width: 40%;
    margin: 0px 5% 0px 0px;
}

.wrapper-center-left-title {
    color: #e41a1a;
    font-size: 16px;
    font-weight: 700;
}

.wrapper-center-left-center {
    margin: 10px 0px 0px 0px;
    font-size: 30px;
    font-weight: 700;
}

.wrapper-center-left-bottom {
    margin: 10px 0px 0px 0px;
    font-size: 14px;
    font-weight: 600;
}

.wrapper-center-right {
    width: 55%;
}

.right-left-image {
    width: 225px;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    filter: brightness(90%);
    image-rendering: pixelated;
}

.right-left-image-1 {
    margin: 0px 20px 30px 0px;
}

.right-left-image-2 {}

.right-right-image {
    width: 225px;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    filter: brightness(90%);
}

.right-right-image-1 {
    margin: 0px 20px 30px 0px;
}

.right-right-image-2 {}

/*5*/

.trending {
    color: white;
    margin: 0px 220px 0px 235px;
    font-size: 35px;
    font-weight: 700;
}

.poster-film {
    display: flex;
    margin: 50px 220px 0px 220px;
}

.image-poster-film-length-all {
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

.image-poster-film {
    width: 100%;
    max-width: 228px;
    height: 293px;
    border-radius: 8px 8px 0px 0px;
    filter: brightness(90%);
}

.name-film {
    color: white;
    background-color: #151516;
    border-radius: 0px 0px 8px 8px;
    text-align: center;
    align-self: center;
    padding: 8px 0px;
    font-size: 14px;
    font-weight: 700;
}

.prev-film {
    position: absolute;
    top: 1580px;
    left: 240px;
    cursor: pointer;
}

.bi-chevron-compact-left {
    color: #e41a1a;
    font-size: 35px;
}

.next-film {
    position: absolute;
    top: 1580px;
    right: 240px;
    cursor: pointer;
}

.bi-chevron-compact-right {
    color: #e41a1a;
    font-size: 35px;
}